.admin-container{
    width: 60%;
    margin: 50px auto;
    /* height: 90vh; */
    
}
.input-form{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 100%;
    padding: 30px 25px;
    gap:15px;
    border-radius: 10px;
}
.input-form input{
    padding: 10px 15px;
    font-size: 16px;
    color: black;
    outline: none;
}
.input-form > button{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    background: #2f2a5f;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.input-form > button:active{
    background: #453e85;

}





*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    background: rgb(250, 250, 250);
    
}
.nav-link{
    text-decoration: none;
    color: black;
}


.main-container{
    display: flex;
    flex-direction: column;
    /* gap:20px; */
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    background: #FFFFFF;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.logo-section{
    width: 20%;
}

.search-section{
    width: 30%;
    padding: 0px;
}
.search-field{
    width: 100%;
    font-size: 16px;
}

.nav-section{
    width: 40%;
    /* border: 1px solid; */
}
.nav-section ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-section ul > li{
    list-style: none;
    font-weight: 600;
    font-size: 16px;
}
.login-btn{
    background: "#c8b6ff";
}

.nav-menu{
  display: none;
}




/* .home-container{

} */

.home-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 30px;
    background: rgb(157,78,221);
    background: linear-gradient(27deg, rgba(157,78,221,1) 35%, rgba(0,215,255,1) 100%);
    color: #FFFFFF;
}
.headings{
    width: 50%;
}
.headings h3{
    color: #63fc82;
    font-size: 20px;
}
.intro-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-img img{
    width:75%;
}

.home-body{
    color: rgb(82, 82, 82);
}

.guid{
    width: 80%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid; */
    text-align: center;
}

.roadmap{
    width: 80%;
    margin: 35px auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
}
.roadmap-img{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roadmap-img img{
    width: 100%;
}
.roadmap-path{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid; */
}
.steps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.tickmark{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    background: #64d878;
}

.introduction{
    width: 80%;
    margin: 50px auto;

    display: flex;
    /* border: 1px solid; */
    justify-content: space-between;
    align-items: center;
}
.introdction-content{
    width: 60%;
    text-align: justify;
}
.introduction-image{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px ;
    /* border: 1px solid; */
}
.introduction-image img{
    width: 100%;
}


.skills-section{
    width: 100%;
    margin: 30px 0px;
    padding: 10px 0px;
    background: #2a2754;
}
.skills-inner-box{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.skills-header{
    width: 28%;
    color: #FFFFFF;
}

.skills-type{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* border: 1px solid; */
}
.skill-box{
    width: 70px;
    height: 70px;
    background: #2f2a5f;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-box img{
    width: 70%;
}

.company-section{
    margin: 50px 0px;
    padding: 10px 0px;
    text-align: center;
    gap:20px;
}
.company-logo-box{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
   
}
.company-logo{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
   
}
.company-logo img{
    width: 100%;
}


.academy-section{
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* border: 1px solid; */
}
.course-search{
    width: 60%;
    /* border: 1px solid; */
    margin: 0px auto;
    display: flex;
    /* align-items: center; */
    gap: 10px;
}
.search-box{
    width: 80%;
}

.course-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid; */
}
.course-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* border: 1px solid; */
}
.course-box{
    width: 260px;
    height:270px;
    padding-bottom: 10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.course-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;

}
.course-img img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.course-detail{
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}
.course-level{
    color: gray;
    display: flex;
    align-items: center;
    gap:10px
}
.ratings{
    display: flex;
    align-items: center;
    gap:5px;
    border: 1px solid rgb(155, 155, 155);
    padding: 2px;
    border-radius: 5px;
}
.footer-container{
    width: 100%;
    padding: 30px 0px;
    /* border: 1px solid; */
    background: #2d2046;
    color: #FFFFFF ;
}
.footer-top{
    width: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.footer-top > div > ul{
    width: 100%;
    padding: 0px;
}

.footer-top > div > ul > li{
    list-style: none;
}

.social-media > ul > li{
    display: flex;
    gap: 10px;
    align-items: center;
}


.course-container{
    
    display: flex;
    justify-content: space-between;
    height: 90vh;
    
}
.course-topic-nav{
    /* width: 20%; */
    background: #e7e9eb;
    padding: 10px 15px;
    
}






.course-topic-list ul{
    display: flex;
    padding: 0px;
    overflow-y: scroll;

    height: 63vh;
    flex-direction: column;
}
.course-topic-list ul::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.course-topic-list ul li{
    list-style: none;
    padding: 5px;
    margin-bottom: 10px;

    font-size: 15px;
    width: 100%;
}
.course-topic-list ul li:hover{
    background: #9d4edd;
    color: #FFFFFF;
}

.course-body{
    width: 75%;
    height: 85vh;
    overflow-y: scroll;
    padding: 10px;
    /* margin: 20px 0px; */
    /* border: 1px solid; */
}
.course-body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.course-body pre{
    color: #586065;
    font-size: 15px;
    text-align: justify;
    width: 90%;
}

.course-content{
    width: 80%;
}

.example-container{
  width: 90%;
  border-radius: 10px;
  background: rgb(255, 253, 253);
  color: rgb(15, 18, 20);
  font-style: italic;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.image-example{
  width: 70%;
  background: rgb(255, 253, 253);
  /* border: 1px solid; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-example img{
  width: 100%;
}


  


   
.admin-panel{
    width: 95%;
    /* border: 1px solid; */
    margin: 40px auto;
}


.update-page{
    display: flex;
    justify-content: space-between;
    height: 90vh;
}

.update-body-container{
    width: 75%;
    height: 90vh;
    overflow-y: scroll;
    padding: 10px;
}
.update-body-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.update-field{
    width: 80%;
    display: flex;
    /* border: 1px solid; */

    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.update-chapter-heading{
    color: #586065;
    font-size: 20px;
}


.user-auth-page{
    width: 80%;
    margin: 20px auto;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 80vh;
}
.auth-form{
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:20px;
}
.sign-in-btns{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(225, 56, 56); */
}
.sign-in{
    width: 100%;
}
.login-option{
  /* border: 1px solid; */
  text-align: center;
}

.user-profile-container{
  width:75%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 90vh;
  overflow-y: scroll;
}
.user-profile-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.profile-header{
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-pic{
  width: 180px;
  height: 170px;
  background-size: contain;
  /* border: 1px solid; */
  border-radius: 10px;
}
.profile-pic img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.location-education{
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.location{
  display: flex;
  gap: 10px;
  align-items: center;
}
.education{
  display: flex;
  gap: 10px;
  align-items: center;
}
.social-media{
  margin-top: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
} 
.course-progress{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.subject-bar{
  width: 60%;
  /* border: 1px solid; */
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.progress-bar{
  width: 80%;
  /* border: 1px solid; */
  background: #dbdbdb;
  height: 13px;
  border-radius: 10px;
}
.progress-bar-inner{
  width: 55%;
  height: 13px;
  border-radius: 10px;

  background: #63fc82;
}
.two{
  width: 35%;

  background: rgb(241, 41, 114);
}

.course-enrolled{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.course-enrolled-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* gap: 10px; */
}



.slide-transition{
  display: none;
  height: 100vh;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 1;
}




.slide-transition > .top-r-bar {
  width: 100%;
  margin: 10px 0px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.336);
}
.slide-transition > .top-r-bar > span{
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

.bottom-r-bar {
  width: 100%;
}
.bottom-r-bar > ul{
  list-style-type: none;
  padding: 0px;
}
.bottom-r-bar > ul > li{
  margin: 10px;
  padding: 10px;
  cursor: pointer;
} 




@media screen and (max-width:700px){
  .nav-section{
    display: none;
  }

  .nav-menu{
    display: flex;
  }

  .slide-transition{
    height: 100vh;
  }
}



















.spinner{
    width: 10%;
    margin:0px auto;
    /* border: 1px solid black; */
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banter-loader {
    
    width: 72px;
  }
  
  .banter-loader__box {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
  
  .banter-loader__box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(157,78,221);
  }
  
  .banter-loader__box:nth-child(3n) {
    margin-right: 0;
    margin-bottom: 6px;
  }
  
  .banter-loader__box:nth-child(1):before, .banter-loader__box:nth-child(4):before {
    margin-left: 26px;
  }
  
  .banter-loader__box:nth-child(3):before {
    margin-top: 52px;
  }
  
  .banter-loader__box:last-child {
    margin-bottom: 0;
  }
  
  @keyframes moveBox-1 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }
  
    18.1818181818% {
      transform: translate(0px, 0);
    }
  
    27.2727272727% {
      transform: translate(0px, 0);
    }
  
    36.3636363636% {
      transform: translate(26px, 0);
    }
  
    45.4545454545% {
      transform: translate(26px, 26px);
    }
  
    54.5454545455% {
      transform: translate(26px, 26px);
    }
  
    63.6363636364% {
      transform: translate(26px, 26px);
    }
  
    72.7272727273% {
      transform: translate(26px, 0px);
    }
  
    81.8181818182% {
      transform: translate(0px, 0px);
    }
  
    90.9090909091% {
      transform: translate(-26px, 0px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(1) {
    animation: moveBox-1 4s infinite;
  }
  
  @keyframes moveBox-2 {
    9.0909090909% {
      transform: translate(0, 0);
    }
  
    18.1818181818% {
      transform: translate(26px, 0);
    }
  
    27.2727272727% {
      transform: translate(0px, 0);
    }
  
    36.3636363636% {
      transform: translate(26px, 0);
    }
  
    45.4545454545% {
      transform: translate(26px, 26px);
    }
  
    54.5454545455% {
      transform: translate(26px, 26px);
    }
  
    63.6363636364% {
      transform: translate(26px, 26px);
    }
  
    72.7272727273% {
      transform: translate(26px, 26px);
    }
  
    81.8181818182% {
      transform: translate(0px, 26px);
    }
  
    90.9090909091% {
      transform: translate(0px, 26px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(2) {
    animation: moveBox-2 4s infinite;
  }
  
  @keyframes moveBox-3 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }
  
    18.1818181818% {
      transform: translate(-26px, 0);
    }
  
    27.2727272727% {
      transform: translate(0px, 0);
    }
  
    36.3636363636% {
      transform: translate(-26px, 0);
    }
  
    45.4545454545% {
      transform: translate(-26px, 0);
    }
  
    54.5454545455% {
      transform: translate(-26px, 0);
    }
  
    63.6363636364% {
      transform: translate(-26px, 0);
    }
  
    72.7272727273% {
      transform: translate(-26px, 0);
    }
  
    81.8181818182% {
      transform: translate(-26px, -26px);
    }
  
    90.9090909091% {
      transform: translate(0px, -26px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(3) {
    animation: moveBox-3 4s infinite;
  }
  
  @keyframes moveBox-4 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }
  
    18.1818181818% {
      transform: translate(-26px, 0);
    }
  
    27.2727272727% {
      transform: translate(-26px, -26px);
    }
  
    36.3636363636% {
      transform: translate(0px, -26px);
    }
  
    45.4545454545% {
      transform: translate(0px, 0px);
    }
  
    54.5454545455% {
      transform: translate(0px, -26px);
    }
  
    63.6363636364% {
      transform: translate(0px, -26px);
    }
  
    72.7272727273% {
      transform: translate(0px, -26px);
    }
  
    81.8181818182% {
      transform: translate(-26px, -26px);
    }
  
    90.9090909091% {
      transform: translate(-26px, 0px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(4) {
    animation: moveBox-4 4s infinite;
  }
  
  @keyframes moveBox-5 {
    9.0909090909% {
      transform: translate(0, 0);
    }
  
    18.1818181818% {
      transform: translate(0, 0);
    }
  
    27.2727272727% {
      transform: translate(0, 0);
    }
  
    36.3636363636% {
      transform: translate(26px, 0);
    }
  
    45.4545454545% {
      transform: translate(26px, 0);
    }
  
    54.5454545455% {
      transform: translate(26px, 0);
    }
  
    63.6363636364% {
      transform: translate(26px, 0);
    }
  
    72.7272727273% {
      transform: translate(26px, 0);
    }
  
    81.8181818182% {
      transform: translate(26px, -26px);
    }
  
    90.9090909091% {
      transform: translate(0px, -26px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(5) {
    animation: moveBox-5 4s infinite;
  }
  
  @keyframes moveBox-6 {
    9.0909090909% {
      transform: translate(0, 0);
    }
  
    18.1818181818% {
      transform: translate(-26px, 0);
    }
  
    27.2727272727% {
      transform: translate(-26px, 0);
    }
  
    36.3636363636% {
      transform: translate(0px, 0);
    }
  
    45.4545454545% {
      transform: translate(0px, 0);
    }
  
    54.5454545455% {
      transform: translate(0px, 0);
    }
  
    63.6363636364% {
      transform: translate(0px, 0);
    }
  
    72.7272727273% {
      transform: translate(0px, 26px);
    }
  
    81.8181818182% {
      transform: translate(-26px, 26px);
    }
  
    90.9090909091% {
      transform: translate(-26px, 0px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(6) {
    animation: moveBox-6 4s infinite;
  }
  
  @keyframes moveBox-7 {
    9.0909090909% {
      transform: translate(26px, 0);
    }
  
    18.1818181818% {
      transform: translate(26px, 0);
    }
  
    27.2727272727% {
      transform: translate(26px, 0);
    }
  
    36.3636363636% {
      transform: translate(0px, 0);
    }
  
    45.4545454545% {
      transform: translate(0px, -26px);
    }
  
    54.5454545455% {
      transform: translate(26px, -26px);
    }
  
    63.6363636364% {
      transform: translate(0px, -26px);
    }
  
    72.7272727273% {
      transform: translate(0px, -26px);
    }
  
    81.8181818182% {
      transform: translate(0px, 0px);
    }
  
    90.9090909091% {
      transform: translate(26px, 0px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(7) {
    animation: moveBox-7 4s infinite;
  }
  
  @keyframes moveBox-8 {
    9.0909090909% {
      transform: translate(0, 0);
    }
  
    18.1818181818% {
      transform: translate(-26px, 0);
    }
  
    27.2727272727% {
      transform: translate(-26px, -26px);
    }
  
    36.3636363636% {
      transform: translate(0px, -26px);
    }
  
    45.4545454545% {
      transform: translate(0px, -26px);
    }
  
    54.5454545455% {
      transform: translate(0px, -26px);
    }
  
    63.6363636364% {
      transform: translate(0px, -26px);
    }
  
    72.7272727273% {
      transform: translate(0px, -26px);
    }
  
    81.8181818182% {
      transform: translate(26px, -26px);
    }
  
    90.9090909091% {
      transform: translate(26px, 0px);
    }
  
    100% {
      transform: translate(0px, 0px);
    }
  }
  
  .banter-loader__box:nth-child(8) {
    animation: moveBox-8 4s infinite;
  }
  
  @keyframes moveBox-9 {
    9.0909090909% {
      transform: translate(-26px, 0);
    }
  
    18.1818181818% {
      transform: translate(-26px, 0);
    }
  
    27.2727272727% {
      transform: translate(0px, 0);
    }
  
    36.3636363636% {
      transform: translate(-26px, 0);
    }
  
    45.4545454545% {
      transform: translate(0px, 0);
    }
  
    54.5454545455% {
      transform: translate(0px, 0);
    }
  
    63.6363636364% {
      transform: translate(-26px, 0);
    }
  
    72.7272727273% {
      transform: translate(-26px, 0);
    }
  
    81.8181818182% {
      transform: translate(-52px, 0);
    }
  
    90.9090909091% {
      transform: translate(-26px, 0);
    }
  
    100% {
      transform: translate(0px, 0);
    }
  }
  
  .banter-loader__box:nth-child(9) {
    animation: moveBox-9 4s infinite;
  }